<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Who we Are:</h2>
                <p class="lead">
                DriveBy Mechanics are a special breed of mechanics. We are open
                and honest. We go to where you are, and provide basic car
                maintenance at honest intervals for an honest price. We will
                never say a service is required outside of your manufacturer's
                recommendation just to fill a service bay, well because we don't
                have service bays.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="images/ipad.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
